## import pandas as pd

In [5]:
%matplotlib inline

/usr/local/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [6]:
import matplotlib.pyplot as plt

In [7]:
set_option("display.max_rows", 16)
LARGE_FIGSIZE=(12,8)

NameError: name 'set_option' is not defined

In [ ]:
from pandas import set_option
set_option("display.max_rows", 16)
LARGE_FIGSIZE=(12,8)

In [ ]:
%cd /Users/bismayan/Dropbox/bigdata_python/pandas_tutorial-master/demos/climate_timeseries/
%ls

In [ ]:
pd.read_table?

In [ ]:
filename="data/temperatures/annual.land_ocean.90S.90N.df_1901-2000mean.dat"
full_globe_temp=pd.read_table(filename)
full_globe_temp

In [ ]:
full_globe_temp=pd.read_table(filename,sep='\s+',names=["year","mean temp"],index_col=0,parse_dates=True)
full_globe_temp

In [ ]:
full_globe_temp.shape

In [ ]:
full_globe_temp.size

In [ ]:
plt.plot(full_globe_temp[:,0],full_globe_temp[:,1])

In [ ]:
full_globe_temp=pd.read_table(filename,sep='\s+',names=["year","mean temp"],index_col=0)

In [ ]:
full_globe_temp

In [ ]:
plt.plot(full_globe_temp[:,0],full_globe_temp[:,1])

In [ ]:
%

In [ ]:
full_globe_temp=pd.read_table(filename,sep='\s+',names=["year","mean temp"],index_col=0,parse_dates=True)

In [ ]:
full_globe_temp

In [ ]:
full_globe_temp.type

In [ ]:
type?

In [ ]:
type(full_globe_temp)

In [ ]:
full_globe_temp.shape

In [ ]:
full_globe_temp

In [ ]:
type?

In [ ]:
mp=pd.read_table("data/temperatures/GLB.Ts+dSST.txt",sep='\s+',skiprows=7,skip_footer=11,engine="python")
mp

In [ ]:
co2=pd.read_table("data/greenhouse_gaz/co2_mm_global.txt")

In [ ]:
co2=pd.read_table("data/greenhouse_gaz/co2_mm_global.txt",sep='\s+')

In [ ]:
co2

In [ ]:
pd.read_table?

In [ ]:
co2=pd.read_table("data/greenhouse_gaz/co2_mm_global.txt",sep='\s+',parse_dates=[[0,1]])

In [ ]:
co2

In [ ]:
southern_sea_level=pd.read_table("http://sealevel.colorado.edu/files/current/sl_nh.txt",sep='\s+')
southern_sea_level

In [ ]:
southern_sea_level

In [8]:
southern_sea_level

NameError: name 'southern_sea_level' is not defined

In [9]:
southern_sea_level=pd.read_table("http://sealevel.colorado.edu/files/current/sl_nh.txt",sep='\s+')
southern_sea_level

          year  msl_ib(mm)  #version_2016rel1
0    1992.9323      13.717                NaN
1    1992.9595       1.328                NaN
2    1992.9866     -13.375                NaN
3    1993.0138     -24.723                NaN
4    1993.0409     -29.231                NaN
5    1993.0681     -32.538                NaN
6    1993.0952     -35.588                NaN
7    1993.1223     -26.579                NaN
8    1993.1495     -29.622                NaN
9    1993.1766     -34.527                NaN
10   1993.2038     -34.250                NaN
11   1993.2309     -28.518                NaN
12   1993.2581     -30.437                NaN
13   1993.2852     -21.371                NaN
14   1993.3124     -19.196                NaN
15   1993.3395     -23.758                NaN
16   1993.3667     -23.628                NaN
17   1993.3938     -17.808                NaN
18   1993.4210     -10.085                NaN
19   1993.4481      -2.120                NaN
20   1993.4753      -1.728                NaN
21   1993.5024      -4.942                NaN
22   1993.5296       5.074                NaN
23   1993.5567       0.386                NaN
24   1993.5839      22.555                NaN
25   1993.6110      22.201                NaN
26   1993.6382      29.060                NaN
27   1993.6653      23.325                NaN
28   1993.6925      16.635                NaN
29   1993.7196      21.488                NaN
..         ...         ...                ...
819  2015.2209      28.410                NaN
820  2015.2481      28.377                NaN
821  2015.2752      33.571                NaN
822  2015.3024      42.266                NaN
823  2015.3295      43.258                NaN
824  2015.3567      39.843                NaN
825  2015.3838      40.691                NaN
826  2015.4110      49.984                NaN
827  2015.4381      47.774                NaN
828  2015.4653      59.384                NaN
829  2015.4924      71.990                NaN
830  2015.5196      69.026                NaN
831  2015.5467      71.222                NaN
832  2015.5739      77.134                NaN
833  2015.6010      88.087                NaN
834  2015.6281      87.809                NaN
835  2015.6553      91.575                NaN
836  2015.6824      97.315                NaN
837  2015.7096      90.066                NaN
838  2015.7367      92.490                NaN
839  2015.7639      99.108                NaN
840  2015.7910      96.789                NaN
841  2015.8182      92.405                NaN
842  2015.8453      81.278                NaN
843  2015.8725      79.341                NaN
844  2015.8996      78.108                NaN
845  2015.9268      76.599                NaN
846  2015.9539      69.691                NaN
847  2015.9811      59.957                NaN
848  2016.0082      46.712                NaN

[849 rows x 3 columns]

In [10]:
c02

NameError: name 'c02' is not defined

In [11]:
co2

NameError: name 'co2' is not defined

In [12]:
co2=pd.read_table("data/greenhouse_gaz/co2_mm_global.txt")

In [13]:
co2

       year month     decimal     average       trend
0      1980     1    1980.042      338.45      337.82
1      1980     2    1980.125      339.17      338.12
2      1980     3    1980.208      339.49      338.14
3      1980     4    1980.292      339.87      338.25
4      1980     5    1980.375      340.30      338.78
5      1980     6    1980.458      339.86      339.08
6      1980     7    1980.542      338.32      339.17
7      1980     8    1980.625      337.11      339.37
8      1980     9    1980.708      336.95      339.33
9      1980    10    1980.792      337.71      339.06
10     1980    11    1980.875      338.83      339.17
11     1980    12    1980.958      339.55      339.32
12     1981     1    1981.042      340.10      339.47
13     1981     2    1981.125      340.66      339.61
14     1981     3    1981.208      341.29      339.94
15     1981     4    1981.292      341.57      339.96
16     1981     5    1981.375      341.28      339.76
17     1981     6    1981.458      340.48      339.70
18     1981     7    1981.542      339.10      339.95
19     1981     8    1981.625      337.98      340.24
20     1981     9    1981.708      337.86      340.24
21     1981    10    1981.792      338.95      340.30
22     1981    11    1981.875      340.06      340.39
23     1981    12    1981.958      340.64      340.42
24     1982     1    1982.042      341.27      340.66
25     1982     2    1982.125      341.86      340.80
26     1982     3    1982.208      342.13      340.75
27     1982     4    1982.292      342.42      340.81
28     1982     5    1982.375      342.27      340.75
29     1982     6    1982.458      341.39      340.63
..                                                ...
394    2012    11    2012.875      393.37      393.57
395    2012    12    2012.958      394.19      393.65
396    2013     1    2013.042      394.90      393.87
397    2013     2    2013.125      395.52      394.10
398    2013     3    2013.208      396.07      394.44
399    2013     4    2013.292      396.53      394.71
400    2013     5    2013.375      396.58      395.00
401    2013     6    2013.458      395.80      395.30
402    2013     7    2013.542      394.28      395.66
403    2013     8    2013.625      393.08      395.84
404    2013     9    2013.708      393.07      395.78
405    2013    10    2013.792      394.34      395.79
406    2013    11    2013.875      395.77      395.97
407    2013    12    2013.958      396.72      396.19
408    2014     1    2014.042      397.42      396.40
409    2014     2    2014.125      397.85      396.43
410    2014     3    2014.208      398.10      396.48
411    2014     4    2014.292      398.43      396.61
412    2014     5    2014.375      398.49      396.90
413    2014     6    2014.458      397.52      397.02
414    2014     7    2014.542      395.89      397.27
415    2014     8    2014.625      394.79      397.56
416    2014     9    2014.708      394.90      397.61
417    2014    10    2014.792      396.18      397.63
418    2014    11    2014.875      397.69      397.90
419    2014    12    2014.958      398.62      398.08
420    2015     1    2015.042      399.31      398.29
421    2015     2    2015.125      400.01      398.59
422    2015     3    2015.208      400.59      398.96
423    2015     4    2015.292      401.24      399.41

[424 rows x 1 columns]

In [14]:
co2=pd.read_table("data/greenhouse_gaz/co2_mm_global.txt",sep='/s+',parse_dates=[[0,1]])

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators; you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

IndexError: list index out of range

In [17]:
co2=pd.read_table("data/greenhouse_gaz/co2_mm_global.txt",sep='/s+',parse_dates=[[0,1]],engine="python")

IndexError: list index out of range

In [2]:
import pandas as pd

In [3]:
northern_sea_level=pd.read_table("http://sealevel.colorado.edu/files/current/sl_nh.txt",sep='\s+')

In [4]:
northern_sea_level=pd.read_table("http://sealevel.colorado.edu/files/current/sl_sh.txt",sep='\s+')

In [5]:
northern_sea_level=pd.read_table("http://sealevel.colorado.edu/files/current/sl_nh.txt",sep='\s+')

In [6]:
southern_sea_level=pd.read_table("http://sealevel.colorado.edu/files/current/sl_nh.txt",sep='\s+')

In [7]:
southern_sea_level

          year  msl_ib(mm)  #version_2016rel1
0    1992.9323      13.717                NaN
1    1992.9595       1.328                NaN
2    1992.9866     -13.375                NaN
3    1993.0138     -24.723                NaN
4    1993.0409     -29.231                NaN
5    1993.0681     -32.538                NaN
6    1993.0952     -35.588                NaN
7    1993.1223     -26.579                NaN
8    1993.1495     -29.622                NaN
9    1993.1766     -34.527                NaN
10   1993.2038     -34.250                NaN
11   1993.2309     -28.518                NaN
12   1993.2581     -30.437                NaN
13   1993.2852     -21.371                NaN
14   1993.3124     -19.196                NaN
15   1993.3395     -23.758                NaN
16   1993.3667     -23.628                NaN
17   1993.3938     -17.808                NaN
18   1993.4210     -10.085                NaN
19   1993.4481      -2.120                NaN
20   1993.4753      -1.728                NaN
21   1993.5024      -4.942                NaN
22   1993.5296       5.074                NaN
23   1993.5567       0.386                NaN
24   1993.5839      22.555                NaN
25   1993.6110      22.201                NaN
26   1993.6382      29.060                NaN
27   1993.6653      23.325                NaN
28   1993.6925      16.635                NaN
29   1993.7196      21.488                NaN
..         ...         ...                ...
819  2015.2209      28.410                NaN
820  2015.2481      28.377                NaN
821  2015.2752      33.571                NaN
822  2015.3024      42.266                NaN
823  2015.3295      43.258                NaN
824  2015.3567      39.843                NaN
825  2015.3838      40.691                NaN
826  2015.4110      49.984                NaN
827  2015.4381      47.774                NaN
828  2015.4653      59.384                NaN
829  2015.4924      71.990                NaN
830  2015.5196      69.026                NaN
831  2015.5467      71.222                NaN
832  2015.5739      77.134                NaN
833  2015.6010      88.087                NaN
834  2015.6281      87.809                NaN
835  2015.6553      91.575                NaN
836  2015.6824      97.315                NaN
837  2015.7096      90.066                NaN
838  2015.7367      92.490                NaN
839  2015.7639      99.108                NaN
840  2015.7910      96.789                NaN
841  2015.8182      92.405                NaN
842  2015.8453      81.278                NaN
843  2015.8725      79.341                NaN
844  2015.8996      78.108                NaN
845  2015.9268      76.599                NaN
846  2015.9539      69.691                NaN
847  2015.9811      59.957                NaN
848  2016.0082      46.712                NaN

[849 rows x 3 columns]

In [8]:
full_globe_temp=pd.read_table(filename,sep='\s+',names=["year","mean temp"],index_col=0,parse_dates=True)

NameError: name 'filename' is not defined

In [ ]:
%cd ~/Dropbox/bigdata_python/pandas_tutorial-master/demos/climate_timeseries/
ls

In [ ]:
%ls

In [ ]:
filename="data/temperatures/annual.land_ocean.90S.90N.df_1901-2000mean.dat"
full_globe_temp=pd.read_table(filename,sep='\s+',names=["year","mean temp"],index_col=0,parse_dates=True)

In [ ]:
co2=pd.read_table("data/greenhouse_gaz/co2_mm_global.txt",sep='/s+',parse_dates=[[0,1]],engine="python")

In [ ]:
%cd ~/Dropbox/bigdata_python/pandas_tutorial-master/demos/climate_timeseries/

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
northern_sea_level=pd.read_table("http://sealevel.colorado.edu/files/current/sl_nh.txt",sep='\s+')

In [ ]:
southern_sea_level=pd.read_table("http://sealevel.colorado.edu/files/current/sl_sh.txt",sep='\s+')

In [ ]:
filename="data/temperatures/annual.land_ocean.90S.90N.df_1901-2000mean.dat"
full_globe_temp=pd.read_table(filename,sep='\s+',names=["year","mean temp"],index_col=0,parse_dates=True)

In [ ]:
full_globe_temp

In [ ]:
co2=pd.read_table("data/greenhouse_gaz/co2_mm_global.txt",sep='\s+',parse_dates=[[0,1]])

In [ ]:
co2

In [ ]:
giss_temp=pd.read_table("data/temperatures/GLB.Ts+dSST.txt",sep="/s+",skiprows=7,skip_footer=11,engine="python")

In [ ]:
giss_temp

In [ ]:
giss_temp=pd.read_table("data/temperatures/GLB.Ts+dSST.txt",sep="\s+",skiprows=7,skip_footer=11,engine="python")

In [ ]:
giss_temp

In [ ]:
pd.read_table?

In [ ]:
global_sea_level=pd.read_table("http://sealevel.colorado.edu/files/2015_rel2/sl_ns_global.txt",sep='\s+')")

In [ ]:
global_sea_level=pd.read_table("http://sealevel.colorado.edu/files/2015_rel2/sl_ns_global.txt",sep='\s+')

In [ ]:
global_sea_level

In [ ]:
table_list=pd.read_html("http://www.psms1.org/data/obtaining/")

In [ ]:
co2

In [9]:
co2

NameError: name 'co2' is not defined

In [10]:
giss_temp=pd.read_table("data/temperatures/GLB.Ts+dSST.txt",sep="\s+",skiprows=7,skip_footer=11,engine="python")

In [11]:
global_sea_level=pd.read_table("http://sealevel.colorado.edu/files/2015_rel2/sl_ns_global.txt",sep='\s+')

In [12]:
northern_sea_level=pd.read_table("http://sealevel.colorado.edu/files/current/sl_nh.txt",sep='\s+')

In [13]:
southern_sea_level=pd.read_table("http://sealevel.colorado.edu/files/current/sl_sh.txt",sep='\s+')

In [14]:
filename="data/temperatures/annual.land_ocean.90S.90N.df_1901-2000mean.dat"
full_globe_temp=pd.read_table(filename,sep='\s+',names=["year","mean temp"],index_col=0,parse_dates=True)

In [15]:
co2=pd.read_table("data/greenhouse_gaz/co2_mm_global.txt",sep='\s+',parse_dates=[[0,1]])

In [16]:
table_list=pd.read_html("http://www.psms1.org/data/obtaining/")

ImportError: html5lib not found, please install it

In [17]:
table_list=pd.read_html("http://www.psms1.org/data/obtaining/")

ImportError: html5lib not found, please install it

In [18]:
table_list=pd.read_html("http://www.psms1.org/data/obtaining/")

ImportError: html5lib not found, please install it

In [1]:
giss_temp=pd.read_table("data/temperatures/GLB.Ts+dSST.txt",sep="\s+",skiprows=7,skip_footer=11,engine="python")

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
giss_temp=pd.read_table("data/temperatures/GLB.Ts+dSST.txt",sep="\s+",skiprows=7,skip_footer=11,engine="python")

In [5]:
global_sea_level=pd.read_table("http://sealevel.colorado.edu/files/2015_rel2/sl_ns_global.txt",sep='\s+')
northern_sea_level=pd.read_table("http://sealevel.colorado.edu/files/current/sl_nh.txt",sep='\s+')
southern_sea_level=pd.read_table("http://sealevel.colorado.edu/files/current/sl_sh.txt",sep='\s+')
filename="data/temperatures/annual.land_ocean.90S.90N.df_1901-2000mean.dat"
full_globe_temp=pd.read_table(filename,sep='\s+',names=["year","mean temp"],index_col=0,parse_dates=True)
co2=pd.read_table("data/greenhouse_gaz/co2_mm_global.txt",sep='\s+',parse_dates=[[0,1]])
table_list=pd.read_html("http://www.psms1.org/data/obtaining/")

URLError: <urlopen error [Errno 8] nodename nor servname provided, or not known>

In [6]:
table_list=pd.read_html("data/sea_levels/Obtaining Tide Gauge Data.html")

In [7]:
table_list

[                                  0   \
 0                                NaN
 1                                NaN
 2                                FEB
 3                                NaN
 4                               2014
 5  58 captures  18 Apr 10 - 3 Apr 15

                                                   1     2   \
 0  FEB  APR  May  3  2014  2015  2016  58 capture...   NaN
 1                 FEB  APR  May  3  2014  2015  2016   FEB
 2                                                APR   May
 3                                                  3   NaN
 4                                               2015  2016
 5                                                NaN   NaN

                                    3    4    5    6   7       8       9   \
 0  FEB  APR  May  3  2014  2015  2016  FEB  APR  May NaN     3.0     NaN
 1                                 APR  May  NaN    3 NaN  2014.0  2015.0
 2                                 NaN  NaN  NaN  NaN NaN     NaN     NaN
 3                                 NaN  NaN  NaN  NaN NaN     NaN     NaN
 4                                 NaN  NaN  NaN  NaN NaN     NaN     NaN
 5                                 NaN  NaN  NaN  NaN NaN     NaN     NaN

        10      11      12                                 13  14           15
 0  2014.0  2015.0  2016.0  58 captures  18 Apr 10 - 3 Apr 15 NaN  Close  Help
 1  2016.0     NaN     NaN                                NaN NaN          NaN
 2     NaN     NaN     NaN                                NaN NaN          NaN
 3     NaN     NaN     NaN                                NaN NaN          NaN
 4     NaN     NaN     NaN                                NaN NaN          NaN
 5     NaN     NaN     NaN                                NaN NaN          NaN  ,
                                   0                                   1   \
 0                                NaN  FEB  APR  May  3  2014  2015  2016
 1                                FEB                                 APR
 2                                NaN                                   3
 3                               2014                                2015
 4  58 captures  18 Apr 10 - 3 Apr 15                                 NaN

      2    3    4   5    6   7       8       9       10
 0   FEB  APR  May NaN  3.0 NaN  2014.0  2015.0  2016.0
 1   May  NaN  NaN NaN  NaN NaN     NaN     NaN     NaN
 2   NaN  NaN  NaN NaN  NaN NaN     NaN     NaN     NaN
 3  2016  NaN  NaN NaN  NaN NaN     NaN     NaN     NaN
 4   NaN  NaN  NaN NaN  NaN NaN     NaN     NaN     NaN  ,
       0     1     2
 0   FEB   APR   May
 1   NaN     3   NaN
 2  2014  2015  2016,
                                   Station Name    ID    Lat.     Lon.  \
 0                                     HELIGMAN   231  60.200   19.300
 1                                 KOBBAKLINTAR    63  60.033   19.883
 2                                     LEMSTROM    84  60.100   20.017
 3                              FOGLO / DEGERBY   249  60.032   20.385
 4                                    PAGO PAGO   539 -14.280 -170.690
 5                              BAHIA ESPERANZA   988 -63.300  -56.917
 6                            ARGENTINE ISLANDS   913 -65.246  -64.257
 7                             PUERTO SOBERANIA  1603 -62.483  -59.633
 8                              ALMIRANTE BROWN   858 -64.900  -62.867
 9                      CAPE ROBERTS ANTARCTICA  1763 -77.034  163.191
 10                                  SCOTT BASE  2029 -77.850  166.769
 11                                     ROTHERA  1931 -67.571  -68.130
 12                                   USHUAIA I   874 -54.817  -68.217
 13                                  USHUAIA II  1271 -54.817  -68.217
 14                              PUERTO DESEADO   185 -47.750  -65.917
 15                          COMODORO RIVADAVIA   181 -45.867  -67.483
 16                               PUERTO MADRYN   501 -42.767  -65.033
 17                                    PIRAMIDE   867 -42.583  -64.283
 18                                     ROSALES   870 -38.933  -62.067
 19                                     QUEQUEN   223 -38.583  -58.700
 20                      MAR DEL PLATA (PUERTO)   857 -38.033  -57.533
 21                  MAR DEL PLATA (NAVAL BASE)   819 -38.033  -57.517
 22                                  MAR DE AJO  1542 -36.700  -56.667
 23                                RIO SANTIAGO   897 -34.850  -57.900
 24                                BUENOS AIRES   157 -34.600  -58.367
 25                                     PALERMO   832 -34.567  -58.400
 26                          ISLA MARTIN GARCIA   864 -34.183  -58.250
 27                                      DARWIN   935 -12.472  130.846
 28                 MILNER BAY (GROOTE EYLANDT)  1160 -13.860  136.416
 29                                     KARUMBA   835 -17.500  140.833
 ...                                        ...   ...     ...      ...
 1389                 WOODS HOLE (OCEAN. INST.)   367  41.523  -70.672
 1390                          NANTUCKET ISLAND  1111  41.285  -70.097
 1391  SANDWICH MARINA, CAPE COD CANAL ENTRANCE   775  41.767  -70.500
 1392                                    BOSTON   235  42.353  -71.053
 1393                             SEAVEY ISLAND   288  43.080  -70.742
 1394                          PORTLAND (MAINE)   183  43.657  -70.247
 1395                                  ROCKLAND  1279  44.105  -69.102
 1396             BAR HARBOR, FRENCHMAN BAY, ME   525  44.392  -68.205
 1397                                 CUTLER II  1524  44.642  -67.297
 1398                                    CUTLER  1081  44.650  -67.217
 1399                                  EASTPORT   332  44.903  -66.982
 1400                             MIDWAY ISLAND   523  28.212 -177.360
 1401                           JOHNSTON ISLAND   598  16.738 -169.530
 1402                                   COLONIA   433 -34.483  -57.850
 1403                  MONTEVIDEO (PUNTA LOBOS)   431 -34.900  -56.250
 1404                            PUNTA DEL ESTE   434 -34.967  -54.950
 1405                                 LA PALOMA   764 -34.650  -54.150
 1406                               PORT VILA B  1841 -17.755  168.308
 1407                          PUERTO DE HIERRO   782  10.617  -62.083
 1408                                    GUIRIA  1053  10.567  -62.283
 1409                                   VUNGTAU  1495  10.333  107.067
 1410                                   QUINHON  1449  13.767  109.250
 1411                                    DANANG  1475  16.100  108.217
 1412                                    HONNGU  1003  18.800  105.767
 1413                                    HONDAU   841  20.667  106.800
 1414                          CHARLOTTE AMALIE  1393  18.335  -64.920
 1415                   LIME TREE BAY, ST CROIX  1447  17.693  -64.753
 1416                     CHRISTIANSTED HARBOUR  2118  17.750  -64.705
 1417                              LAMESHUR BAY  2119  18.317  -64.723
 1418                                      ADEN    44  12.788   44.974

       GLOSS ID Country        Date  Coastline  Station
 0          NaN     ALA  01/01/1980         60      251
 1          NaN     ALA  01/01/1980         60      261
 2          NaN     ALA  01/01/1980         60      271
 3          NaN     ALA  26/11/2014         60      281
 4        144.0     ASM  11/02/2014        745        1
 5        185.0     ATA  11/05/1999        999        1
 6        188.0     ATA  05/02/2014        999        3
 7        189.0     ATA  30/09/2004        999        5
 8          NaN     ATA  01/01/1980        999       24
 9          NaN     ATA  27/09/2010        999       70
 10       134.0     ATA  23/02/2012        999       80
 11       342.0     ATA  14/02/2013        999      103
 12       181.0     ARG  01/01/1980        860        1
 13       181.0     ARG  12/11/2007        860        2
 14       190.0     ARG  07/03/2006        860       11
 15         NaN     ARG  01/01/1980        860       21
 16       191.0     ARG  25/10/2010        860       31
 17         NaN     ARG  01/01/1980        860       41
 18         NaN     ARG  01/01/1980        860       61
 19         NaN     ARG  05/04/1990        860       81
 20       192.0     ARG  01/01/1980        860       91
 21       192.0     ARG  13/06/2013        860      101
 22         NaN     ARG  02/03/1988        860      124
 23         NaN     ARG  01/01/1980        860      141
 24         NaN     ARG  14/05/1991        860      151
 25         NaN     ARG  13/06/2013        860      161
 26         NaN     ARG  01/01/1980        860      171
 27        62.0     AUS  31/03/2014        680       11
 28         NaN     AUS  31/03/2014        680       15
 29         NaN     AUS  01/08/2013        680       18
 ...        ...     ...         ...        ...      ...
 1389       NaN     USA  11/02/2014        960      165
 1390       NaN     USA  12/02/2014        960      166
 1391       NaN     USA  01/01/1980        960      168
 1392       NaN     USA  11/02/2014        960      171
 1393       NaN     USA  26/10/1990        960      177
 1394       NaN     USA  11/02/2014        960      181
 1395       NaN     USA  22/06/1990        960      186
 1396       NaN     USA  11/02/2014        960      191
 1397       NaN     USA  23/06/2011        960      196
 1398       NaN     USA  01/01/1980        960      197
 1399       NaN     USA  11/02/2014        960      201
 1400     106.0     UMI  11/02/2014        760        1
 1401     109.0     UMI  26/01/2005        760       11
 1402       NaN     URY  23/05/1996        870        1
 1403     300.0     URY  02/06/2014        870       11
 1404       NaN     URY  23/05/1996        870       21
 1405       NaN     URY  03/12/2012        870       31
 1406     348.0     VUT  31/03/2014        741        2
 1407       NaN     VEN  01/01/1980        900        1
 1408       NaN     VEN  20/04/2001        900        6
 1409       NaN     VNM  28/10/2002        605       21
 1410      75.0     VNM  09/01/2007        605       41
 1411       NaN     VNM  28/10/2002        605       51
 1412       NaN     VNM  28/10/2002        605       61
 1413       NaN     VNM  19/11/2002        605       81
 1414       NaN     VIR  12/02/2014        939        1
 1415       NaN     VIR  12/02/2014        939       11
 1416       NaN     VIR  12/02/2014        939       15
 1417       NaN     VIR  12/02/2014        939       21
 1418       3.0     YEM  01/07/2014        485        1

 [1419 rows x 9 columns]]

In [8]:
local_sea_level_stations=table_list[0]

In [9]:
local_sea_level_stations

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,FEB APR May 3 2014 2015 2016 58 capture...,NaN,FEB APR May 3 2014 2015 2016,FEB,APR,May,NaN,3.0,NaN,2014.0,2015.0,2016.0,58 captures 18 Apr 10 - 3 Apr 15,NaN,Close Help
1,NaN,FEB APR May 3 2014 2015 2016,FEB,APR,May,NaN,3,NaN,2014.0,2015.0,2016.0,NaN,NaN,NaN,NaN,NaN
2,FEB,APR,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,2015,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,58 captures 18 Apr 10 - 3 Apr 15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
len(table_list)

4

In [11]:
table_list

[                                  0   \
 0                                NaN
 1                                NaN
 2                                FEB
 3                                NaN
 4                               2014
 5  58 captures  18 Apr 10 - 3 Apr 15

                                                   1     2   \
 0  FEB  APR  May  3  2014  2015  2016  58 capture...   NaN
 1                 FEB  APR  May  3  2014  2015  2016   FEB
 2                                                APR   May
 3                                                  3   NaN
 4                                               2015  2016
 5                                                NaN   NaN

                                    3    4    5    6   7       8       9   \
 0  FEB  APR  May  3  2014  2015  2016  FEB  APR  May NaN     3.0     NaN
 1                                 APR  May  NaN    3 NaN  2014.0  2015.0
 2                                 NaN  NaN  NaN  NaN NaN     NaN     NaN
 3                                 NaN  NaN  NaN  NaN NaN     NaN     NaN
 4                                 NaN  NaN  NaN  NaN NaN     NaN     NaN
 5                                 NaN  NaN  NaN  NaN NaN     NaN     NaN

        10      11      12                                 13  14           15
 0  2014.0  2015.0  2016.0  58 captures  18 Apr 10 - 3 Apr 15 NaN  Close  Help
 1  2016.0     NaN     NaN                                NaN NaN          NaN
 2     NaN     NaN     NaN                                NaN NaN          NaN
 3     NaN     NaN     NaN                                NaN NaN          NaN
 4     NaN     NaN     NaN                                NaN NaN          NaN
 5     NaN     NaN     NaN                                NaN NaN          NaN  ,
                                   0                                   1   \
 0                                NaN  FEB  APR  May  3  2014  2015  2016
 1                                FEB                                 APR
 2                                NaN                                   3
 3                               2014                                2015
 4  58 captures  18 Apr 10 - 3 Apr 15                                 NaN

      2    3    4   5    6   7       8       9       10
 0   FEB  APR  May NaN  3.0 NaN  2014.0  2015.0  2016.0
 1   May  NaN  NaN NaN  NaN NaN     NaN     NaN     NaN
 2   NaN  NaN  NaN NaN  NaN NaN     NaN     NaN     NaN
 3  2016  NaN  NaN NaN  NaN NaN     NaN     NaN     NaN
 4   NaN  NaN  NaN NaN  NaN NaN     NaN     NaN     NaN  ,
       0     1     2
 0   FEB   APR   May
 1   NaN     3   NaN
 2  2014  2015  2016,
                                   Station Name    ID    Lat.     Lon.  \
 0                                     HELIGMAN   231  60.200   19.300
 1                                 KOBBAKLINTAR    63  60.033   19.883
 2                                     LEMSTROM    84  60.100   20.017
 3                              FOGLO / DEGERBY   249  60.032   20.385
 4                                    PAGO PAGO   539 -14.280 -170.690
 5                              BAHIA ESPERANZA   988 -63.300  -56.917
 6                            ARGENTINE ISLANDS   913 -65.246  -64.257
 7                             PUERTO SOBERANIA  1603 -62.483  -59.633
 8                              ALMIRANTE BROWN   858 -64.900  -62.867
 9                      CAPE ROBERTS ANTARCTICA  1763 -77.034  163.191
 10                                  SCOTT BASE  2029 -77.850  166.769
 11                                     ROTHERA  1931 -67.571  -68.130
 12                                   USHUAIA I   874 -54.817  -68.217
 13                                  USHUAIA II  1271 -54.817  -68.217
 14                              PUERTO DESEADO   185 -47.750  -65.917
 15                          COMODORO RIVADAVIA   181 -45.867  -67.483
 16                               PUERTO MADRYN   501 -42.767  -65.033
 17                                    PIRAMIDE   867 -42.583  -64.283
 18                                     ROSALES   870 -38.933  -62.067
 19                                     QUEQUEN   223 -38.583  -58.700
 20                      MAR DEL PLATA (PUERTO)   857 -38.033  -57.533
 21                  MAR DEL PLATA (NAVAL BASE)   819 -38.033  -57.517
 22                                  MAR DE AJO  1542 -36.700  -56.667
 23                                RIO SANTIAGO   897 -34.850  -57.900
 24                                BUENOS AIRES   157 -34.600  -58.367
 25                                     PALERMO   832 -34.567  -58.400
 26                          ISLA MARTIN GARCIA   864 -34.183  -58.250
 27                                      DARWIN   935 -12.472  130.846
 28                 MILNER BAY (GROOTE EYLANDT)  1160 -13.860  136.416
 29                                     KARUMBA   835 -17.500  140.833
 ...                                        ...   ...     ...      ...
 1389                 WOODS HOLE (OCEAN. INST.)   367  41.523  -70.672
 1390                          NANTUCKET ISLAND  1111  41.285  -70.097
 1391  SANDWICH MARINA, CAPE COD CANAL ENTRANCE   775  41.767  -70.500
 1392                                    BOSTON   235  42.353  -71.053
 1393                             SEAVEY ISLAND   288  43.080  -70.742
 1394                          PORTLAND (MAINE)   183  43.657  -70.247
 1395                                  ROCKLAND  1279  44.105  -69.102
 1396             BAR HARBOR, FRENCHMAN BAY, ME   525  44.392  -68.205
 1397                                 CUTLER II  1524  44.642  -67.297
 1398                                    CUTLER  1081  44.650  -67.217
 1399                                  EASTPORT   332  44.903  -66.982
 1400                             MIDWAY ISLAND   523  28.212 -177.360
 1401                           JOHNSTON ISLAND   598  16.738 -169.530
 1402                                   COLONIA   433 -34.483  -57.850
 1403                  MONTEVIDEO (PUNTA LOBOS)   431 -34.900  -56.250
 1404                            PUNTA DEL ESTE   434 -34.967  -54.950
 1405                                 LA PALOMA   764 -34.650  -54.150
 1406                               PORT VILA B  1841 -17.755  168.308
 1407                          PUERTO DE HIERRO   782  10.617  -62.083
 1408                                    GUIRIA  1053  10.567  -62.283
 1409                                   VUNGTAU  1495  10.333  107.067
 1410                                   QUINHON  1449  13.767  109.250
 1411                                    DANANG  1475  16.100  108.217
 1412                                    HONNGU  1003  18.800  105.767
 1413                                    HONDAU   841  20.667  106.800
 1414                          CHARLOTTE AMALIE  1393  18.335  -64.920
 1415                   LIME TREE BAY, ST CROIX  1447  17.693  -64.753
 1416                     CHRISTIANSTED HARBOUR  2118  17.750  -64.705
 1417                              LAMESHUR BAY  2119  18.317  -64.723
 1418                                      ADEN    44  12.788   44.974

       GLOSS ID Country        Date  Coastline  Station
 0          NaN     ALA  01/01/1980         60      251
 1          NaN     ALA  01/01/1980         60      261
 2          NaN     ALA  01/01/1980         60      271
 3          NaN     ALA  26/11/2014         60      281
 4        144.0     ASM  11/02/2014        745        1
 5        185.0     ATA  11/05/1999        999        1
 6        188.0     ATA  05/02/2014        999        3
 7        189.0     ATA  30/09/2004        999        5
 8          NaN     ATA  01/01/1980        999       24
 9          NaN     ATA  27/09/2010        999       70
 10       134.0     ATA  23/02/2012        999       80
 11       342.0     ATA  14/02/2013        999      103
 12       181.0     ARG  01/01/1980        860        1
 13       181.0     ARG  12/11/2007        860        2
 14       190.0     ARG  07/03/2006        860       11
 15         NaN     ARG  01/01/1980        860       21
 16       191.0     ARG  25/10/2010        860       31
 17         NaN     ARG  01/01/1980        860       41
 18         NaN     ARG  01/01/1980        860       61
 19         NaN     ARG  05/04/1990        860       81
 20       192.0     ARG  01/01/1980        860       91
 21       192.0     ARG  13/06/2013        860      101
 22         NaN     ARG  02/03/1988        860      124
 23         NaN     ARG  01/01/1980        860      141
 24         NaN     ARG  14/05/1991        860      151
 25         NaN     ARG  13/06/2013        860      161
 26         NaN     ARG  01/01/1980        860      171
 27        62.0     AUS  31/03/2014        680       11
 28         NaN     AUS  31/03/2014        680       15
 29         NaN     AUS  01/08/2013        680       18
 ...        ...     ...         ...        ...      ...
 1389       NaN     USA  11/02/2014        960      165
 1390       NaN     USA  12/02/2014        960      166
 1391       NaN     USA  01/01/1980        960      168
 1392       NaN     USA  11/02/2014        960      171
 1393       NaN     USA  26/10/1990        960      177
 1394       NaN     USA  11/02/2014        960      181
 1395       NaN     USA  22/06/1990        960      186
 1396       NaN     USA  11/02/2014        960      191
 1397       NaN     USA  23/06/2011        960      196
 1398       NaN     USA  01/01/1980        960      197
 1399       NaN     USA  11/02/2014        960      201
 1400     106.0     UMI  11/02/2014        760        1
 1401     109.0     UMI  26/01/2005        760       11
 1402       NaN     URY  23/05/1996        870        1
 1403     300.0     URY  02/06/2014        870       11
 1404       NaN     URY  23/05/1996        870       21
 1405       NaN     URY  03/12/2012        870       31
 1406     348.0     VUT  31/03/2014        741        2
 1407       NaN     VEN  01/01/1980        900        1
 1408       NaN     VEN  20/04/2001        900        6
 1409       NaN     VNM  28/10/2002        605       21
 1410      75.0     VNM  09/01/2007        605       41
 1411       NaN     VNM  28/10/2002        605       51
 1412       NaN     VNM  28/10/2002        605       61
 1413       NaN     VNM  19/11/2002        605       81
 1414       NaN     VIR  12/02/2014        939        1
 1415       NaN     VIR  12/02/2014        939       11
 1416       NaN     VIR  12/02/2014        939       15
 1417       NaN     VIR  12/02/2014        939       21
 1418       3.0     YEM  01/07/2014        485        1

 [1419 rows x 9 columns]]

In [12]:
table_list1=pd.read_html("data/sea_levels/Obtaining Tide Gauge Data.html")

In [13]:
len(table_list1)

4

In [14]:
table_list1=pd.read_html("data/sea_levels/Obtaining Tide Gauge Data.html")

In [15]:
len(table_list1)

4

In [16]:
table_list1=pd.read_html(r"data/sea_levels/Obtaining Tide Gauge Data.html")

In [17]:
len(table_list1)

4

In [18]:
table_list1=pd.read_html("data/sea_levels/Obtaining\ Tide\ Gauge\ Data.html")

ValueError: No tables found

In [19]:
table_list1=pd.read_html("data/sea_levels/Obtaining1.html")

In [20]:
len(table_list1)

4

In [21]:
table_list1

[                                  0   \
 0                                NaN
 1                                NaN
 2                                FEB
 3                                NaN
 4                               2014
 5  58 captures  18 Apr 10 - 3 Apr 15

                                                   1     2   \
 0  FEB  APR  May  3  2014  2015  2016  58 capture...   NaN
 1                 FEB  APR  May  3  2014  2015  2016   FEB
 2                                                APR   May
 3                                                  3   NaN
 4                                               2015  2016
 5                                                NaN   NaN

                                    3    4    5    6   7       8       9   \
 0  FEB  APR  May  3  2014  2015  2016  FEB  APR  May NaN     3.0     NaN
 1                                 APR  May  NaN    3 NaN  2014.0  2015.0
 2                                 NaN  NaN  NaN  NaN NaN     NaN     NaN
 3                                 NaN  NaN  NaN  NaN NaN     NaN     NaN
 4                                 NaN  NaN  NaN  NaN NaN     NaN     NaN
 5                                 NaN  NaN  NaN  NaN NaN     NaN     NaN

        10      11      12                                 13  14           15
 0  2014.0  2015.0  2016.0  58 captures  18 Apr 10 - 3 Apr 15 NaN  Close  Help
 1  2016.0     NaN     NaN                                NaN NaN          NaN
 2     NaN     NaN     NaN                                NaN NaN          NaN
 3     NaN     NaN     NaN                                NaN NaN          NaN
 4     NaN     NaN     NaN                                NaN NaN          NaN
 5     NaN     NaN     NaN                                NaN NaN          NaN  ,
                                   0                                   1   \
 0                                NaN  FEB  APR  May  3  2014  2015  2016
 1                                FEB                                 APR
 2                                NaN                                   3
 3                               2014                                2015
 4  58 captures  18 Apr 10 - 3 Apr 15                                 NaN

      2    3    4   5    6   7       8       9       10
 0   FEB  APR  May NaN  3.0 NaN  2014.0  2015.0  2016.0
 1   May  NaN  NaN NaN  NaN NaN     NaN     NaN     NaN
 2   NaN  NaN  NaN NaN  NaN NaN     NaN     NaN     NaN
 3  2016  NaN  NaN NaN  NaN NaN     NaN     NaN     NaN
 4   NaN  NaN  NaN NaN  NaN NaN     NaN     NaN     NaN  ,
       0     1     2
 0   FEB   APR   May
 1   NaN     3   NaN
 2  2014  2015  2016,
                                   Station Name    ID    Lat.     Lon.  \
 0                                     HELIGMAN   231  60.200   19.300
 1                                 KOBBAKLINTAR    63  60.033   19.883
 2                                     LEMSTROM    84  60.100   20.017
 3                              FOGLO / DEGERBY   249  60.032   20.385
 4                                    PAGO PAGO   539 -14.280 -170.690
 5                              BAHIA ESPERANZA   988 -63.300  -56.917
 6                            ARGENTINE ISLANDS   913 -65.246  -64.257
 7                             PUERTO SOBERANIA  1603 -62.483  -59.633
 8                              ALMIRANTE BROWN   858 -64.900  -62.867
 9                      CAPE ROBERTS ANTARCTICA  1763 -77.034  163.191
 10                                  SCOTT BASE  2029 -77.850  166.769
 11                                     ROTHERA  1931 -67.571  -68.130
 12                                   USHUAIA I   874 -54.817  -68.217
 13                                  USHUAIA II  1271 -54.817  -68.217
 14                              PUERTO DESEADO   185 -47.750  -65.917
 15                          COMODORO RIVADAVIA   181 -45.867  -67.483
 16                               PUERTO MADRYN   501 -42.767  -65.033
 17                                    PIRAMIDE   867 -42.583  -64.283
 18                                     ROSALES   870 -38.933  -62.067
 19                                     QUEQUEN   223 -38.583  -58.700
 20                      MAR DEL PLATA (PUERTO)   857 -38.033  -57.533
 21                  MAR DEL PLATA (NAVAL BASE)   819 -38.033  -57.517
 22                                  MAR DE AJO  1542 -36.700  -56.667
 23                                RIO SANTIAGO   897 -34.850  -57.900
 24                                BUENOS AIRES   157 -34.600  -58.367
 25                                     PALERMO   832 -34.567  -58.400
 26                          ISLA MARTIN GARCIA   864 -34.183  -58.250
 27                                      DARWIN   935 -12.472  130.846
 28                 MILNER BAY (GROOTE EYLANDT)  1160 -13.860  136.416
 29                                     KARUMBA   835 -17.500  140.833
 ...                                        ...   ...     ...      ...
 1389                 WOODS HOLE (OCEAN. INST.)   367  41.523  -70.672
 1390                          NANTUCKET ISLAND  1111  41.285  -70.097
 1391  SANDWICH MARINA, CAPE COD CANAL ENTRANCE   775  41.767  -70.500
 1392                                    BOSTON   235  42.353  -71.053
 1393                             SEAVEY ISLAND   288  43.080  -70.742
 1394                          PORTLAND (MAINE)   183  43.657  -70.247
 1395                                  ROCKLAND  1279  44.105  -69.102
 1396             BAR HARBOR, FRENCHMAN BAY, ME   525  44.392  -68.205
 1397                                 CUTLER II  1524  44.642  -67.297
 1398                                    CUTLER  1081  44.650  -67.217
 1399                                  EASTPORT   332  44.903  -66.982
 1400                             MIDWAY ISLAND   523  28.212 -177.360
 1401                           JOHNSTON ISLAND   598  16.738 -169.530
 1402                                   COLONIA   433 -34.483  -57.850
 1403                  MONTEVIDEO (PUNTA LOBOS)   431 -34.900  -56.250
 1404                            PUNTA DEL ESTE   434 -34.967  -54.950
 1405                                 LA PALOMA   764 -34.650  -54.150
 1406                               PORT VILA B  1841 -17.755  168.308
 1407                          PUERTO DE HIERRO   782  10.617  -62.083
 1408                                    GUIRIA  1053  10.567  -62.283
 1409                                   VUNGTAU  1495  10.333  107.067
 1410                                   QUINHON  1449  13.767  109.250
 1411                                    DANANG  1475  16.100  108.217
 1412                                    HONNGU  1003  18.800  105.767
 1413                                    HONDAU   841  20.667  106.800
 1414                          CHARLOTTE AMALIE  1393  18.335  -64.920
 1415                   LIME TREE BAY, ST CROIX  1447  17.693  -64.753
 1416                     CHRISTIANSTED HARBOUR  2118  17.750  -64.705
 1417                              LAMESHUR BAY  2119  18.317  -64.723
 1418                                      ADEN    44  12.788   44.974

       GLOSS ID Country        Date  Coastline  Station
 0          NaN     ALA  01/01/1980         60      251
 1          NaN     ALA  01/01/1980         60      261
 2          NaN     ALA  01/01/1980         60      271
 3          NaN     ALA  26/11/2014         60      281
 4        144.0     ASM  11/02/2014        745        1
 5        185.0     ATA  11/05/1999        999        1
 6        188.0     ATA  05/02/2014        999        3
 7        189.0     ATA  30/09/2004        999        5
 8          NaN     ATA  01/01/1980        999       24
 9          NaN     ATA  27/09/2010        999       70
 10       134.0     ATA  23/02/2012        999       80
 11       342.0     ATA  14/02/2013        999      103
 12       181.0     ARG  01/01/1980        860        1
 13       181.0     ARG  12/11/2007        860        2
 14       190.0     ARG  07/03/2006        860       11
 15         NaN     ARG  01/01/1980        860       21
 16       191.0     ARG  25/10/2010        860       31
 17         NaN     ARG  01/01/1980        860       41
 18         NaN     ARG  01/01/1980        860       61
 19         NaN     ARG  05/04/1990        860       81
 20       192.0     ARG  01/01/1980        860       91
 21       192.0     ARG  13/06/2013        860      101
 22         NaN     ARG  02/03/1988        860      124
 23         NaN     ARG  01/01/1980        860      141
 24         NaN     ARG  14/05/1991        860      151
 25         NaN     ARG  13/06/2013        860      161
 26         NaN     ARG  01/01/1980        860      171
 27        62.0     AUS  31/03/2014        680       11
 28         NaN     AUS  31/03/2014        680       15
 29         NaN     AUS  01/08/2013        680       18
 ...        ...     ...         ...        ...      ...
 1389       NaN     USA  11/02/2014        960      165
 1390       NaN     USA  12/02/2014        960      166
 1391       NaN     USA  01/01/1980        960      168
 1392       NaN     USA  11/02/2014        960      171
 1393       NaN     USA  26/10/1990        960      177
 1394       NaN     USA  11/02/2014        960      181
 1395       NaN     USA  22/06/1990        960      186
 1396       NaN     USA  11/02/2014        960      191
 1397       NaN     USA  23/06/2011        960      196
 1398       NaN     USA  01/01/1980        960      197
 1399       NaN     USA  11/02/2014        960      201
 1400     106.0     UMI  11/02/2014        760        1
 1401     109.0     UMI  26/01/2005        760       11
 1402       NaN     URY  23/05/1996        870        1
 1403     300.0     URY  02/06/2014        870       11
 1404       NaN     URY  23/05/1996        870       21
 1405       NaN     URY  03/12/2012        870       31
 1406     348.0     VUT  31/03/2014        741        2
 1407       NaN     VEN  01/01/1980        900        1
 1408       NaN     VEN  20/04/2001        900        6
 1409       NaN     VNM  28/10/2002        605       21
 1410      75.0     VNM  09/01/2007        605       41
 1411       NaN     VNM  28/10/2002        605       51
 1412       NaN     VNM  28/10/2002        605       61
 1413       NaN     VNM  19/11/2002        605       81
 1414       NaN     VIR  12/02/2014        939        1
 1415       NaN     VIR  12/02/2014        939       11
 1416       NaN     VIR  12/02/2014        939       15
 1417       NaN     VIR  12/02/2014        939       21
 1418       3.0     YEM  01/07/2014        485        1

 [1419 rows x 9 columns]]

In [22]:
local_sea_level_stations=table_list[-1]

In [23]:
local_sea_level_stations

,Station Name,ID,Lat.,Lon.,GLOSS ID,Country,Date,Coastline,Station
0,HELIGMAN,231,60.200,19.300,NaN,ALA,01/01/1980,60,251
1,KOBBAKLINTAR,63,60.033,19.883,NaN,ALA,01/01/1980,60,261
2,LEMSTROM,84,60.100,20.017,NaN,ALA,01/01/1980,60,271
3,FOGLO / DEGERBY,249,60.032,20.385,NaN,ALA,26/11/2014,60,281
4,PAGO PAGO,539,-14.280,-170.690,144.0,ASM,11/02/2014,745,1
5,BAHIA ESPERANZA,988,-63.300,-56.917,185.0,ATA,11/05/1999,999,1
6,ARGENTINE ISLANDS,913,-65.246,-64.257,188.0,ATA,05/02/2014,999,3
7,PUERTO SOBERANIA,1603,-62.483,-59.633,189.0,ATA,30/09/2004,999,5
8,ALMIRANTE BROWN,858,-64.900,-62.867,NaN,ATA,01/01/1980,999,24
9,CAPE ROBERTS ANTARCTICA,1763,-77.034,163.191,NaN,ATA,27/09/2010,999,70
10,SCOTT BASE,2029,-77.850,166.769,134.0,ATA,23/02/2012,999,80
11,ROTHERA,1931,-67.571,-68.130,342.0,ATA,14/02/2013,999,103
12,USHUAIA I,874,-54.817,-68.217,181.0,ARG,01/01/1980,860,1
13,USHUAIA II,1271,-54.817,-68.217,181.0,ARG,12/11/2007,860,2
14,PUERTO DESEADO,185,-47.750,-65.917,190.0,ARG,07/03/2006,860,11
15,COMODORO RIVADAVIA,181,-45.867,-67.483,NaN,ARG,01/01/1980,860,21
16,PUERTO MADRYN,501,-42.767,-65.033,191.0,ARG,25/10/2010,860,31
17,PIRAMIDE,867,-42.583,-64.283,NaN,ARG,01/01/1980,860,41
18,ROSALES,870,-38.933,-62.067,NaN,ARG,01/01/1980,860,61
19,QUEQUEN,223,-38.583,-58.700,NaN,ARG,05/04/1990,860,81
20,MAR DEL PLATA (PUERTO),857,-38.033,-57.533,192.0,ARG,01/01/1980,860,91
21,MAR DEL PLATA (NAVAL BASE),819,-38.033,-57.517,192.0,ARG,13/06/2013,860,101
22,MAR DE AJO,1542,-36.700,-56.667,NaN,ARG,02/03/1988,860,124
23,RIO SANTIAGO,897,-34.850,-57.900,NaN,ARG,01/01/1980,860,141
24,BUENOS AIRES,157,-34.600,-58.367,NaN,ARG,14/05/1991,860,151
25,PALERMO,832,-34.567,-58.400,NaN,ARG,13/06/2013,860,161
26,ISLA MARTIN GARCIA,864,-34.183,-58.250,NaN,ARG,01/01/1980,860,171
27,DARWIN,935,-12.472,130.846,62.0,AUS,31/03/2014,680,11
28,MILNER BAY (GROOTE EYLANDT),1160,-13.860,136.416,NaN,AUS,31/03/2014,680,15
29,KARUMBA,835,-17.500,140.833,NaN,AUS,01/08/2013,680,18
...,...,...,...,...,...,...,...,...,...
1389,WOODS HOLE (OCEAN. INST.),367,41.523,-70.672,NaN,USA,11/02/2014,960,165
1390,NANTUCKET ISLAND,1111,41.285,-70.097,NaN,USA,12/02/2014,960,166
1391,"SANDWICH MARINA, CAPE COD CANAL ENTRANCE",775,41.767,-70.500,NaN,USA,01/01/1980,960,168
1392,BOSTON,235,42.353,-71.053,NaN,USA,11/02/2014,960,171
1393,SEAVEY ISLAND,288,43.080,-70.742,NaN,USA,26/10/1990,960,177
1394,PORTLAND (MAINE),183,43.657,-70.247,NaN,USA,11/02/2014,960,181
1395,ROCKLAND,1279,44.105,-69.102,NaN,USA,22/06/1990,960,186
1396,"BAR HARBOR, FRENCHMAN BAY, ME",525,44.392,-68.205,NaN,USA,11/02/2014,960,191
1397,CUTLER II,1524,44.642,-67.297,NaN,USA,23/06/2011,960,196
1398,CUTLER,1081,44.650,-67.217,NaN,USA,01/01/1980,960,197
1399,EASTPORT,332,44.903,-66.982,NaN,USA,11/02/2014,960,201
1400,MIDWAY ISLAND,523,28.212,-177.360,106.0,UMI,11/02/2014,760,1
1401,JOHNSTON ISLAND,598,16.738,-169.530,109.0,UMI,26/01/2005,760,11
1402,COLONIA,433,-34.483,-57.850,NaN,URY,23/05/1996,870,1
1403,MONTEVIDEO (PUNTA LOBOS),431,-34.900,-56.250,300.0,URY,02/06/2014,870,11
1404,PUNTA DEL ESTE,434,-34.967,-54.950,NaN,URY,23/05/1996,870,21
1405,LA PALOMA,764,-34.650,-54.150,NaN,URY,03/12/2012,870,31
1406,PORT VILA B,1841,-17.755,168.308,348.0,VUT,31/03/2014,741,2
1407,PUERTO DE HIERRO,782,10.617,-62.083,NaN,VEN,01/01/1980,900,1
1408,GUIRIA,1053,10.567,-62.283,NaN,VEN,20/04/2001,900,6
1409,VUNGTAU,1495,10.333,107.067,NaN,VNM,28/10/2002,605,21
1410,QUINHON,1449,13.767,109.250,75.0,VNM,09/01/2007,605,41
1411,DANANG,1475,16.100,108.217,NaN,VNM,28/10/2002,605,51
1412,HONNGU,1003,18.800,105.767,NaN,VNM,28/10/2002,605,61
1413,HONDAU,841,20.667,106.800,NaN,VNM,19/11/2002,605,81
1414,CHARLOTTE AMALIE,1393,18.335,-64.920,NaN,VIR,12/02/2014,939,1
1415,"LIME TREE BAY, ST CROIX",1447,17.693,-64.753,NaN,VIR,12/02/2014,939,11
1416,CHRISTIANSTED HARBOUR,2118,17.750,-64.705,NaN,VIR,12/02/2014,939,15
1417,LAMESHUR BAY,2119,18.317,-64.723,NaN,VIR,12/02/2014,939,21
1418,ADEN,44,12.788,44.974,3.0,YEM,01/07/2014,485,1

In [24]:
type(giss_temp)

pandas.core.frame.DataFrame

In [25]:
giss_temp.shape

(143, 20)

In [26]:
giss_temp.dtypes

Year      object
Jan       object
Feb       object
Mar       object
Apr       object
May       object
Jun       object
Jul       object
Aug       object
Sep       object
Oct       object
Nov       object
Dec       object
J-D       object
D-N       object
DJF       object
MAM       object
JJA       object
SON       object
Year.1    object
dtype: object

In [28]:
%recall 42

Couldn't evaluate or find in history: 42

In [ ]:
42

In [29]:
%recall 25

In [ ]:
giss_temp.shape

In [30]:
giss_temp

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON,Year.1
0,1880,-34,-27,-22,-30,-16,-24,-19,-12,-20,-19,-16,-21,-22,***,****,-23,-18,-18,1880
1,1881,-13,-16,-2,-3,-3,-27,-12,-8,-18,-23,-28,-18,-14,-14,-17,-3,-15,-23,1881
2,1882,3,4,-2,-24,-20,-32,-27,-11,-11,-25,-25,-37,-17,-16,-4,-15,-23,-20,1882
3,1883,-38,-38,-12,-20,-20,-8,-3,-13,-19,-19,-28,-21,-20,-21,-38,-18,-8,-22,1883
4,1884,-20,-14,-31,-36,-33,-36,-31,-24,-29,-25,-29,-25,-28,-28,-18,-33,-31,-28,1884
5,1885,-57,-29,-19,-36,-35,-40,-28,-24,-17,-14,-14,0,-26,-28,-37,-30,-31,-15,1885
6,1886,-37,-43,-34,-23,-21,-30,-13,-21,-12,-22,-29,-18,-25,-24,-26,-26,-21,-21,1886
7,1887,-60,-43,-26,-34,-28,-25,-19,-28,-24,-33,-29,-40,-32,-30,-40,-29,-24,-28,1887
8,1888,-43,-41,-39,-25,-26,-20,-11,-13,-10,-3,-1,-10,-20,-23,-41,-30,-15,-5,1888
9,1889,-18,16,6,7,-1,-10,-13,-18,-18,-21,-32,-30,-11,-9,-4,4,-14,-24,1889
10,1890,-41,-37,-37,-34,-44,-29,-25,-33,-31,-21,-45,-30,-34,-34,-36,-38,-29,-32,1890
11,1891,-43,-50,-19,-27,-21,-26,-26,-21,-17,-28,-40,-13,-27,-29,-41,-23,-24,-28,1891
12,1892,-36,-15,-36,-39,-34,-31,-35,-28,-20,-18,-48,-43,-32,-29,-21,-36,-31,-29,1892
13,1893,-85,-58,-28,-35,-44,-34,-17,-28,-24,-22,-21,-38,-36,-37,-62,-36,-27,-22,1893
14,1894,-55,-34,-25,-46,-37,-41,-26,-22,-25,-23,-34,-27,-33,-34,-42,-36,-30,-28,1894
15,1895,-50,-49,-30,-23,-30,-27,-19,-18,-9,-13,-16,-20,-25,-26,-42,-28,-22,-13,1895
16,1896,-31,-21,-34,-39,-24,-17,-10,-10,-7,3,-17,-14,-18,-19,-24,-32,-12,-7,1896
17,1897,-22,-22,-24,-12,-11,-23,-13,-18,-13,-19,-25,-28,-19,-18,-19,-16,-18,-19,1897
18,1898,-13,-39,-57,-35,-36,-24,-28,-27,-23,-36,-40,-26,-32,-32,-27,-43,-26,-33,1898
19,1899,-21,-40,-36,-21,-26,-36,-20,-14,-7,-7,6,-31,-21,-21,-29,-28,-23,-3,1899
20,1900,-38,-3,0,-17,-15,-22,-20,-16,-15,-5,-20,-14,-15,-17,-24,-10,-19,-14,1900
21,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON,Year
22,1901,-33,-8,0,-12,-23,-17,-18,-23,-24,-35,-25,-34,-21,-19,-19,-12,-19,-28,1901
23,1902,-21,-4,-29,-31,-35,-38,-30,-32,-26,-35,-42,-48,-31,-30,-20,-32,-33,-34,1902
24,1903,-26,-1,-20,-40,-41,-47,-36,-43,-42,-47,-45,-53,-37,-36,-25,-34,-42,-45,1903
25,1904,-67,-56,-43,-51,-50,-45,-47,-43,-47,-37,-19,-27,-44,-47,-59,-48,-45,-34,1904
26,1905,-34,-61,-28,-37,-31,-32,-31,-26,-21,-28,-12,-24,-30,-31,-41,-32,-30,-21,1905
27,1906,-31,-33,-16,-8,-24,-26,-33,-26,-30,-28,-48,-21,-27,-27,-30,-16,-28,-36,1906
28,1907,-46,-54,-34,-46,-51,-46,-39,-36,-33,-26,-53,-52,-43,-40,-41,-44,-40,-37,1907
29,1908,-45,-36,-57,-45,-38,-41,-42,-46,-34,-44,-50,-49,-44,-44,-45,-47,-43,-43,1908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,1988,52,36,44,39,40,38,30,40,36,34,7,28,35,37,43,41,36,26,1988
114,1989,11,31,32,27,12,11,29,31,32,28,14,32,24,24,23,24,24,25,1989
115,1990,35,35,71,49,41,34,39,27,25,37,40,37,39,39,34,54,33,34,1990
116,1991,38,46,32,46,34,50,47,37,43,26,27,30,38,39,41,37,45,32,1991
117,1992,41,37,43,21,29,21,10,6,-3,5,0,18,19,20,36,31,12,1,1992
118,1993,34,37,33,22,23,19,24,11,6,19,5,17,21,21,30,26,18,10,1993
119,1994,27,-1,24,38,25,37,27,19,30,40,43,36,29,27,14,29,28,38,1994
120,1995,48,76,42,44,26,43,47,45,29,45,42,29,43,44,53,38,45,39,1995
121,1996,24,46,31,34,27,25,34,48,24,19,40,39,33,32,33,31,36,27,1996
122,1997,31,36,52,35,36,52,33,39,52,61,61,58,46,44,35,41,41,58,1997
123,1998,60,86,62,63,68,75,67,67,45,42,46,55,61,62,68,64,70,44,1998
124,1999,48,66,31,33,31,37,40,35,40,40,38,45,40,41,56,32,37,39,1999
125,2000,23,56,56,58,39,42,41,42,42,26,31,27,40,42,41,51,42,33,2000
126,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON,Year
127,2001,41,46,57,51,57,53,59,48,52,47,68,52,53,51,38,55,53,56,2001
128,2002,72,73,88,56,62,54,58,53,62,54,58,42,61,62,66,69,55,58,2002
129,2003,71,54,55,52,60,47,54,65,62,72,52,72,60,57,56,56,55,62,2003
130,2004,55,66,62,58,40,40,22,40,50,62,69,48,51,53,65,54,34,60,2004
131,2005,68,55,66,66,61,64,62,60,74,76,71,64,66,64,57,64,62,74,2005
132,2006,52,65,59,45,43,60,50,66,59,66,69,74,59,58,61,49,59,64,2006
133,2007,93,65,67,71,64,55,58,57,61,56,54,46,62,65,77,67,57,57,2007
134,2008,22,31,70,48,46,43,54,39,59,62,62,51,49,48,33,55,46,61,2008
135,2009,56,48,49,57,59,62,66,61,64,58,72,58,59,59,52,55,63,65,2009
136,2010,66,75,87,82,71,60,56,59,55,65,74,44,66,67,66,80,58,65,2010
137,2011,45,44,57,60,47,54,70,69,52,60,50,48,55,55,45,55,64,54,2011
138,2012,38,43,52,62,71,59,50,56,68,73,69,46,57,57,43,62,55,70,2012
139,2013,62,52,60,48,56,61,53,61,73,61,75,61,60,59,53,55,58,70,2013
140,2014,68,44,71,72,79,62,50,74,81,78,64,74,68,67,58,74,62,74,2014
141,2015,75,80,84,71,****,****,****,****,****,****,****,****,****,***,76,****,****,****,2015
142,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON,Year

In [31]:
giss_temp.columns

Index([u'Year', u'Jan', u'Feb', u'Mar', u'Apr', u'May', u'Jun', u'Jul', u'Aug',
       u'Sep', u'Oct', u'Nov', u'Dec', u'J-D', u'D-N', u'DJF', u'MAM', u'JJA',
       u'SON', u'Year.1'],
      dtype='object')

In [32]:
giss_temp.index

RangeIndex(start=0, stop=143, step=1)

In [33]:
giss_temp[12].dtype

KeyError: 12

In [34]:
giss_temp.info

<bound method DataFrame.info of      Year  Jan  Feb  Mar  Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec  \
0    1880  -34  -27  -22  -30   -16   -24   -19   -12   -20   -19   -16   -21
1    1881  -13  -16   -2   -3    -3   -27   -12    -8   -18   -23   -28   -18
2    1882    3    4   -2  -24   -20   -32   -27   -11   -11   -25   -25   -37
3    1883  -38  -38  -12  -20   -20    -8    -3   -13   -19   -19   -28   -21
4    1884  -20  -14  -31  -36   -33   -36   -31   -24   -29   -25   -29   -25
5    1885  -57  -29  -19  -36   -35   -40   -28   -24   -17   -14   -14     0
6    1886  -37  -43  -34  -23   -21   -30   -13   -21   -12   -22   -29   -18
7    1887  -60  -43  -26  -34   -28   -25   -19   -28   -24   -33   -29   -40
8    1888  -43  -41  -39  -25   -26   -20   -11   -13   -10    -3    -1   -10
9    1889  -18   16    6    7    -1   -10   -13   -18   -18   -21   -32   -30
10   1890  -41  -37  -37  -34   -44   -29   -25   -33   -31   -21   -45   -30
11   1891  -43  -50  -19  -27   -21   -26   -26   -21   -17   -28   -40   -13
12   1892  -36  -15  -36  -39   -34   -31   -35   -28   -20   -18   -48   -43
13   1893  -85  -58  -28  -35   -44   -34   -17   -28   -24   -22   -21   -38
14   1894  -55  -34  -25  -46   -37   -41   -26   -22   -25   -23   -34   -27
15   1895  -50  -49  -30  -23   -30   -27   -19   -18    -9   -13   -16   -20
16   1896  -31  -21  -34  -39   -24   -17   -10   -10    -7     3   -17   -14
17   1897  -22  -22  -24  -12   -11   -23   -13   -18   -13   -19   -25   -28
18   1898  -13  -39  -57  -35   -36   -24   -28   -27   -23   -36   -40   -26
19   1899  -21  -40  -36  -21   -26   -36   -20   -14    -7    -7     6   -31
20   1900  -38   -3    0  -17   -15   -22   -20   -16   -15    -5   -20   -14
21   Year  Jan  Feb  Mar  Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
22   1901  -33   -8    0  -12   -23   -17   -18   -23   -24   -35   -25   -34
23   1902  -21   -4  -29  -31   -35   -38   -30   -32   -26   -35   -42   -48
24   1903  -26   -1  -20  -40   -41   -47   -36   -43   -42   -47   -45   -53
25   1904  -67  -56  -43  -51   -50   -45   -47   -43   -47   -37   -19   -27
26   1905  -34  -61  -28  -37   -31   -32   -31   -26   -21   -28   -12   -24
27   1906  -31  -33  -16   -8   -24   -26   -33   -26   -30   -28   -48   -21
28   1907  -46  -54  -34  -46   -51   -46   -39   -36   -33   -26   -53   -52
29   1908  -45  -36  -57  -45   -38   -41   -42   -46   -34   -44   -50   -49
..    ...  ...  ...  ...  ...   ...   ...   ...   ...   ...   ...   ...   ...
113  1988   52   36   44   39    40    38    30    40    36    34     7    28
114  1989   11   31   32   27    12    11    29    31    32    28    14    32
115  1990   35   35   71   49    41    34    39    27    25    37    40    37
116  1991   38   46   32   46    34    50    47    37    43    26    27    30
117  1992   41   37   43   21    29    21    10     6    -3     5     0    18
118  1993   34   37   33   22    23    19    24    11     6    19     5    17
119  1994   27   -1   24   38    25    37    27    19    30    40    43    36
120  1995   48   76   42   44    26    43    47    45    29    45    42    29
121  1996   24   46   31   34    27    25    34    48    24    19    40    39
122  1997   31   36   52   35    36    52    33    39    52    61    61    58
123  1998   60   86   62   63    68    75    67    67    45    42    46    55
124  1999   48   66   31   33    31    37    40    35    40    40    38    45
125  2000   23   56   56   58    39    42    41    42    42    26    31    27
126  Year  Jan  Feb  Mar  Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
127  2001   41   46   57   51    57    53    59    48    52    47    68    52
128  2002   72   73   88   56    62    54    58    53    62    54    58    42
129  2003   71   54   55   52    60    47    54    65    62    72    52    72
130  2004   55   66   62   58    40    40    22    40    50    62    69    48
131  2005   68   55   66   66    61    64    62    60    74    76    71    64
132  2006   52   65   59   45    43    60    50    66    59    66    69    74
133  2007   93   65   67   71    64    55    58    57    61    56    54    46
134  2008   22   31   70   48    46    43    54    39    59    62    62    51
135  2009   56   48   49   57    59    62    66    61    64    58    72    58
136  2010   66   75   87   82    71    60    56    59    55    65    74    44
137  2011   45   44   57   60    47    54    70    69    52    60    50    48
138  2012   38   43   52   62    71    59    50    56    68    73    69    46
139  2013   62   52   60   48    56    61    53    61    73    61    75    61
140  2014   68   44   71   72    79    62    50    74    81    78    64    74
141  2015   75   80   84   71  ****  ****  ****  ****  ****  ****  ****  ****
142  Year  Jan  Feb  Mar  Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec

      J-D  D-N   DJF   MAM   JJA   SON Year.1
0     -22  ***  ****   -23   -18   -18   1880
1     -14  -14   -17    -3   -15   -23   1881
2     -17  -16    -4   -15   -23   -20   1882
3     -20  -21   -38   -18    -8   -22   1883
4     -28  -28   -18   -33   -31   -28   1884
5     -26  -28   -37   -30   -31   -15   1885
6     -25  -24   -26   -26   -21   -21   1886
7     -32  -30   -40   -29   -24   -28   1887
8     -20  -23   -41   -30   -15    -5   1888
9     -11   -9    -4     4   -14   -24   1889
10    -34  -34   -36   -38   -29   -32   1890
11    -27  -29   -41   -23   -24   -28   1891
12    -32  -29   -21   -36   -31   -29   1892
13    -36  -37   -62   -36   -27   -22   1893
14    -33  -34   -42   -36   -30   -28   1894
15    -25  -26   -42   -28   -22   -13   1895
16    -18  -19   -24   -32   -12    -7   1896
17    -19  -18   -19   -16   -18   -19   1897
18    -32  -32   -27   -43   -26   -33   1898
19    -21  -21   -29   -28   -23    -3   1899
20    -15  -17   -24   -10   -19   -14   1900
21    J-D  D-N   DJF   MAM   JJA   SON   Year
22    -21  -19   -19   -12   -19   -28   1901
23    -31  -30   -20   -32   -33   -34   1902
24    -37  -36   -25   -34   -42   -45   1903
25    -44  -47   -59   -48   -45   -34   1904
26    -30  -31   -41   -32   -30   -21   1905
27    -27  -27   -30   -16   -28   -36   1906
28    -43  -40   -41   -44   -40   -37   1907
29    -44  -44   -45   -47   -43   -43   1908
..    ...  ...   ...   ...   ...   ...    ...
113    35   37    43    41    36    26   1988
114    24   24    23    24    24    25   1989
115    39   39    34    54    33    34   1990
116    38   39    41    37    45    32   1991
117    19   20    36    31    12     1   1992
118    21   21    30    26    18    10   1993
119    29   27    14    29    28    38   1994
120    43   44    53    38    45    39   1995
121    33   32    33    31    36    27   1996
122    46   44    35    41    41    58   1997
123    61   62    68    64    70    44   1998
124    40   41    56    32    37    39   1999
125    40   42    41    51    42    33   2000
126   J-D  D-N   DJF   MAM   JJA   SON   Year
127    53   51    38    55    53    56   2001
128    61   62    66    69    55    58   2002
129    60   57    56    56    55    62   2003
130    51   53    65    54    34    60   2004
131    66   64    57    64    62    74   2005
132    59   58    61    49    59    64   2006
133    62   65    77    67    57    57   2007
134    49   48    33    55    46    61   2008
135    59   59    52    55    63    65   2009
136    66   67    66    80    58    65   2010
137    55   55    45    55    64    54   2011
138    57   57    43    62    55    70   2012
139    60   59    53    55    58    70   2013
140    68   67    58    74    62    74   2014
141  ****  ***    76  ****  ****  ****   2015
142   J-D  D-N   DJF   MAM   JJA   SON   Year

[143 rows x 20 columns]>

In [35]:
giss_temp.index

RangeIndex(start=0, stop=143, step=1)

In [36]:
pd.__version__

u'0.18.0'

In [37]:
type(full_globe_temp)

pandas.core.frame.DataFrame

In [38]:
full_globe_temp

                     mean temp
year
1880-01-01 00:00:00    -0.1591
1881-01-01 00:00:00    -0.0789
1882-01-01 00:00:00    -0.1313
1883-01-01 00:00:00    -0.1675
1884-01-01 00:00:00    -0.2485
1885-01-01 00:00:00    -0.2042
1886-01-01 00:00:00    -0.1695
1887-01-01 00:00:00    -0.2505
1888-01-01 00:00:00    -0.1605
1889-01-01 00:00:00    -0.1103
1890-01-01 00:00:00    -0.3014
1891-01-01 00:00:00    -0.2527
1892-01-01 00:00:00    -0.2926
1893-01-01 00:00:00    -0.3274
1894-01-01 00:00:00    -0.2880
1895-01-01 00:00:00    -0.2146
1896-01-01 00:00:00    -0.1009
1897-01-01 00:00:00    -0.1294
1898-01-01 00:00:00    -0.2517
1899-01-01 00:00:00    -0.1356
1900-01-01             -0.1125
1901-01-01             -0.1693
1902-01-01             -0.2255
1903-01-01             -0.3442
1904-01-01             -0.3799
1905-01-01             -0.2583
1906-01-01             -0.2060
1907-01-01             -0.3726
1908-01-01             -0.3922
1909-01-01             -0.4041
...                        ...
1981-01-01              0.2284
1982-01-01              0.1171
1983-01-01              0.2817
1984-01-01              0.0875
1985-01-01              0.0681
1986-01-01              0.1605
1987-01-01              0.2968
1988-01-01              0.3006
1989-01-01              0.2223
1990-01-01              0.3861
1991-01-01              0.3360
1992-01-01              0.2023
1993-01-01              0.2307
1994-01-01              0.2934
1995-01-01              0.4073
1996-01-01              0.2753
1997-01-01              0.4782
1998-01-01              0.5971
1999-01-01              0.4199
2000-01-01              0.3886
2001-01-01              0.5173
2002-01-01              0.5745
2003-01-01              0.5818
2004-01-01              0.5416
2005-01-01              0.6154
2006-01-01              0.5601
2007-01-01              0.5472
2008-01-01              0.4804
2009-01-01              0.5551
2010-01-01           -999.0000

[131 rows x 1 columns]

In [39]:
full_globe_temp.index

DatetimeIndex(['1880-01-01', '1881-01-01', '1882-01-01', '1883-01-01',
               '1884-01-01', '1885-01-01', '1886-01-01', '1887-01-01',
               '1888-01-01', '1889-01-01',
               ...
               '2001-01-01', '2002-01-01', '2003-01-01', '2004-01-01',
               '2005-01-01', '2006-01-01', '2007-01-01', '2008-01-01',
               '2009-01-01', '2010-01-01'],
              dtype='datetime64[ns]', name=u'year', length=131, freq=None)

In [40]:
full_globe_temp.columns

Index([u'mean temp'], dtype='object')

In [41]:
full_globe_temp["mean temp"]

year
1880-01-01 00:00:00     -0.1591
1881-01-01 00:00:00     -0.0789
1882-01-01 00:00:00     -0.1313
1883-01-01 00:00:00     -0.1675
1884-01-01 00:00:00     -0.2485
1885-01-01 00:00:00     -0.2042
1886-01-01 00:00:00     -0.1695
1887-01-01 00:00:00     -0.2505
1888-01-01 00:00:00     -0.1605
1889-01-01 00:00:00     -0.1103
1890-01-01 00:00:00     -0.3014
1891-01-01 00:00:00     -0.2527
1892-01-01 00:00:00     -0.2926
1893-01-01 00:00:00     -0.3274
1894-01-01 00:00:00     -0.2880
1895-01-01 00:00:00     -0.2146
1896-01-01 00:00:00     -0.1009
1897-01-01 00:00:00     -0.1294
1898-01-01 00:00:00     -0.2517
1899-01-01 00:00:00     -0.1356
1900-01-01              -0.1125
1901-01-01              -0.1693
1902-01-01              -0.2255
1903-01-01              -0.3442
1904-01-01              -0.3799
1905-01-01              -0.2583
1906-01-01              -0.2060
1907-01-01              -0.3726
1908-01-01              -0.3922
1909-01-01              -0.4041
                         ...
1981-01-01               0.2284
1982-01-01               0.1171
1983-01-01               0.2817
1984-01-01               0.0875
1985-01-01               0.0681
1986-01-01               0.1605
1987-01-01               0.2968
1988-01-01               0.3006
1989-01-01               0.2223
1990-01-01               0.3861
1991-01-01               0.3360
1992-01-01               0.2023
1993-01-01               0.2307
1994-01-01               0.2934
1995-01-01               0.4073
1996-01-01               0.2753
1997-01-01               0.4782
1998-01-01               0.5971
1999-01-01               0.4199
2000-01-01               0.3886
2001-01-01               0.5173
2002-01-01               0.5745
2003-01-01               0.5818
2004-01-01               0.5416
2005-01-01               0.6154
2006-01-01               0.5601
2007-01-01               0.5472
2008-01-01               0.4804
2009-01-01               0.5551
2010-01-01            -999.0000
Name: mean temp, dtype: float64

In [42]:
full_globe_temp=full_globe_temp["mean temp"]

In [43]:
full_globe_temp

year
1880-01-01 00:00:00     -0.1591
1881-01-01 00:00:00     -0.0789
1882-01-01 00:00:00     -0.1313
1883-01-01 00:00:00     -0.1675
1884-01-01 00:00:00     -0.2485
1885-01-01 00:00:00     -0.2042
1886-01-01 00:00:00     -0.1695
1887-01-01 00:00:00     -0.2505
1888-01-01 00:00:00     -0.1605
1889-01-01 00:00:00     -0.1103
1890-01-01 00:00:00     -0.3014
1891-01-01 00:00:00     -0.2527
1892-01-01 00:00:00     -0.2926
1893-01-01 00:00:00     -0.3274
1894-01-01 00:00:00     -0.2880
1895-01-01 00:00:00     -0.2146
1896-01-01 00:00:00     -0.1009
1897-01-01 00:00:00     -0.1294
1898-01-01 00:00:00     -0.2517
1899-01-01 00:00:00     -0.1356
1900-01-01              -0.1125
1901-01-01              -0.1693
1902-01-01              -0.2255
1903-01-01              -0.3442
1904-01-01              -0.3799
1905-01-01              -0.2583
1906-01-01              -0.2060
1907-01-01              -0.3726
1908-01-01              -0.3922
1909-01-01              -0.4041
                         ...
1981-01-01               0.2284
1982-01-01               0.1171
1983-01-01               0.2817
1984-01-01               0.0875
1985-01-01               0.0681
1986-01-01               0.1605
1987-01-01               0.2968
1988-01-01               0.3006
1989-01-01               0.2223
1990-01-01               0.3861
1991-01-01               0.3360
1992-01-01               0.2023
1993-01-01               0.2307
1994-01-01               0.2934
1995-01-01               0.4073
1996-01-01               0.2753
1997-01-01               0.4782
1998-01-01               0.5971
1999-01-01               0.4199
2000-01-01               0.3886
2001-01-01               0.5173
2002-01-01               0.5745
2003-01-01               0.5818
2004-01-01               0.5416
2005-01-01               0.6154
2006-01-01               0.5601
2007-01-01               0.5472
2008-01-01               0.4804
2009-01-01               0.5551
2010-01-01            -999.0000
Name: mean temp, dtype: float64

In [44]:
full_globe_temp.dtypes

dtype('float64')

In [45]:
full_globe_temp.shape

(131,)

In [46]:
import matplotlib.pyplot as plt
from pandas import set_option
set_option("display.max_rows",16)
LARGE_FIGSIZE=(12,8)

/usr/local/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [47]:
southern_sea_level.columns

Index([u'year', u'msl_ib(mm)', u'#version_2016rel1'], dtype='object')

In [48]:
southern_sea_level.year

0      1992.9323
1      1992.9595
2      1992.9866
3      1993.0138
4      1993.0409
5      1993.0681
6      1993.0952
7      1993.1223
         ...
841    2015.8182
842    2015.8453
843    2015.8725
844    2015.8996
845    2015.9268
846    2015.9539
847    2015.9811
848    2016.0082
Name: year, dtype: float64

In [49]:
southern_sea_level[year]

NameError: name 'year' is not defined

In [50]:
southern_sea_level["year"]

0      1992.9323
1      1992.9595
2      1992.9866
3      1993.0138
4      1993.0409
5      1993.0681
6      1993.0952
7      1993.1223
         ...
841    2015.8182
842    2015.8453
843    2015.8725
844    2015.8996
845    2015.9268
846    2015.9539
847    2015.9811
848    2016.0082
Name: year, dtype: float64

In [51]:
southern_sea_level.year==northern_sea_level.year

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
       ...
841    True
842    True
843    True
844    True
845    True
846    True
847    True
848    True
Name: year, dtype: bool

In [52]:
np.year(southern_sea_level.year==northern_sea_level.year)

AttributeError: 'module' object has no attribute 'year'

In [53]:
np.all(southern_sea_level.year==northern_sea_level.year)

True

In [54]:
np.all?

In [55]:
sea_level=pd.DataFrame({"northern_hem":northern_sea_level["msl_ib(mm)"],"southern_hem":southern_sea_level["msl_ib(mm)"],"date":northern_sea_level["year"]})

In [56]:
sea_level

          date  northern_hem  southern_hem
0    1992.9323        13.717         2.517
1    1992.9595         1.328        -7.645
2    1992.9866       -13.375        -2.267
3    1993.0138       -24.723         0.855
4    1993.0409       -29.231        -2.020
5    1993.0681       -32.538        -0.398
6    1993.0952       -35.588         4.102
7    1993.1223       -26.579         6.787
..         ...           ...           ...
841  2015.8182        92.405        74.234
842  2015.8453        81.278        72.443
843  2015.8725        79.341        67.228
844  2015.8996        78.108        74.586
845  2015.9268        76.599        77.518
846  2015.9539        69.691        77.618
847  2015.9811        59.957        76.646
848  2016.0082        46.712        77.585

[849 rows x 3 columns]

In [57]:
mean_sea_level=pd.DataFrame({"northern_hem":northern_sea_level["msl_ib(mm)"].values,"southern_hem":southern_sea_level["msl_ib(mm)"].values, index=northern_sea_level.year})

SyntaxError: invalid syntax (<ipython-input-57-0adc5a7137f1>, line 1)

In [58]:
northern_sea_level["msl_ib(mm)l_ib(mm)"].values

KeyError: 'msl_ib(mm)l_ib(mm)'

In [59]:
northern_sea_level.columns

Index([u'year', u'msl_ib(mm)', u'#version_2016rel1'], dtype='object')

In [60]:
northern_sea_level["msl_ib(mm)"]

0      13.717
1       1.328
2     -13.375
3     -24.723
4     -29.231
5     -32.538
6     -35.588
7     -26.579
        ...
841    92.405
842    81.278
843    79.341
844    78.108
845    76.599
846    69.691
847    59.957
848    46.712
Name: msl_ib(mm), dtype: float64

In [61]:
northern_sea_level["msl_ib(mm)"].values

array([ 13.717,   1.328, -13.375, -24.723, -29.231, -32.538, -35.588,
       -26.579, -29.622, -34.527, -34.25 , -28.518, -30.437, -21.371,
       -19.196, -23.758, -23.628, -17.808, -10.085,  -2.12 ,  -1.728,
        -4.942,   5.074,   0.386,  22.555,  22.201,  29.06 ,  23.325,
        16.635,  21.488,  32.827,  34.992,  30.541,  18.24 ,   8.044,
        10.529,  10.772,  10.732,   1.704,  -8.579, -14.764, -12.663,
       -19.485, -23.443, -31.32 , -37.411, -35.844, -20.794, -29.478,
       -24.542, -29.375, -26.85 , -25.8  , -18.381, -17.143, -13.169,
       -12.817, -14.908,  -2.614,   5.727,  11.448,   8.972,  10.802,
        13.665,  20.258,  34.426,  35.109,  24.421,  25.116,  18.954,
        14.186,  19.882,  16.49 ,  -0.195,  -0.438,  -6.651, -12.734,
       -16.869, -16.734, -24.215, -32.395, -37.79 , -30.054, -18.882,
       -29.813, -30.159, -31.591, -28.16 , -16.628, -18.468, -15.211,
       -12.198, -17.616,  -9.138,  -4.681,   5.051,   8.199,   9.457,
         3.64 ,  12.035,  21.737,  26.13 ,  34.952,  32.891,  26.196,
        26.565,  18.206,  20.199,  22.797,  20.865,   3.133,   3.723,
        -8.298, -15.226, -19.351, -27.781, -32.942, -26.88 , -25.254,
       -31.981, -31.199, -37.867, -34.202, -20.903, -12.289, -12.586,
       -12.891, -13.617,  -7.525, -10.684,  -0.323,   4.036,  15.21 ,
        19.634,  15.832,  19.091,  27.47 ,  33.489,  33.247,  30.114,
        28.349,  16.485,  23.172,  27.836,  25.333,   8.147,   6.546,
         3.238,   0.742,  -6.439, -11.603, -27.445, -24.603, -32.545,
       -22.992, -21.15 , -28.745, -35.628, -27.859, -24.75 , -30.654,
       -21.445, -12.061,  -8.699,  -0.627,  -9.468,  -1.646,   1.674,
         5.741,  15.732,  25.508,  14.411,  31.447,  32.509,  31.207,
        30.599,  40.085,  34.233,  41.54 ,  33.572,  23.61 ,  10.445,
        12.106,  11.524,   4.187,  -7.182, -18.303, -12.483, -25.377,
       -15.267, -14.355, -20.614, -21.86 , -21.656, -21.992,  -7.781,
        -9.873, -10.204,  -7.375,  -0.573,  -7.327,  11.136,  10.782,
        17.025,  13.533,  18.027,  27.76 ,  20.699,  35.077,  34.276,
        37.124,  38.218,  47.391,  47.335,  49.156,  24.604,  40.522,
        36.535,  37.038,  25.888,  30.483,  12.372,   6.869,  -3.83 ,
        -2.387, -21.709,  -5.048, -17.53 , -18.436, -19.66 , -13.171,
        -2.522,  -9.011, -14.767, -11.902,  -7.692,  -5.571,  -2.21 ,
         5.471,   7.888,   1.762,   7.356,  16.097,  28.177,  25.409,
        26.729,  34.688,  13.19 ,  37.555,  43.364,  46.02 ,  45.024,
        34.355,  34.834,  42.485,  36.612,  28.903,   7.769,   7.359,
         3.449,  10.176,   6.061,  -6.104, -21.263, -15.703,  -9.047,
       -10.735,  -9.286, -10.675, -38.377, -12.022,  -1.942,  -3.78 ,
        -0.688,  -0.778,   2.142,   9.986,  15.624,  18.699,  28.669,
        10.126,  22.151,  32.606,  46.311,  45.965,  48.263,  46.71 ,
        43.986,  40.762,  43.405,  42.48 ,  43.878,  30.982,  29.436,
        15.358,  17.786,  19.537,   7.732,  -1.064, -13.165,  -6.459,
        -1.461,  -1.053,  -5.181, -15.876, -19.532, -15.373,  -5.92 ,
        -1.236,   3.623,   1.9  ,  -3.041,   1.339,  10.404,  22.926,
        27.974,  23.639,  26.348,  40.302,  43.268,  47.33 ,  47.14 ,
        51.144,  51.835,  45.271,  52.111,  51.379,  50.977,  37.447,
        25.848,  19.967,  26.199,  17.269,  10.626,  -4.812,  -5.577,
        -3.769,   2.032,   1.644,  -8.796, -19.634, -15.731, -13.047,
        -4.569,  -4.111,   0.697,  -2.776,   5.14 ,   8.883,  10.481,
        13.388,  24.445,  29.825,  38.18 ,  45.265,  39.997,  47.539,
        44.088,  48.779,  49.992,  49.268,  46.387,  58.563,  56.392,
        43.217,  36.53 ,  37.029,  32.933,  30.865,  15.771,   5.963,
         2.851,   4.805,  11.383,   3.465,  -7.422,  -7.073,  -6.972,
        -0.95 ,   0.757,   5.173,   1.807,  -3.476,   5.33 ,  16.361,
        18.159,  11.401,  16.131,  19.938,  33.804,  44.728,  46.626,
        53.632,  48.211,  50.558,  58.775,  63.309,  61.923,  59.028,
        56.984,  51.042,  47.689,  50.523,  38.028,  38.324,  28.413,
        20.909,  15.141,  15.516,   9.291,   0.779,  -8.565,   4.549,
         4.706,   8.429,  12.426,   2.975,   0.37 ,   6.958,   7.965,
        13.482,  20.431,  23.063,  24.736,  30.139,  35.588,  40.835,
        43.181,  40.382,  47.351,  50.221,  52.888,  57.822,  60.483,
        55.164,  57.266,  59.767,  49.215,  52.121,  55.696,  39.797,
        33.859,  28.07 ,  30.828,  13.266,   8.487,   5.659,   1.446,
         3.81 ,   2.986,  11.661,   5.552,  -6.985,  -3.443,   7.433,
         8.286,  10.875,  12.824,  11.818,  17.714,  22.367,  37.402,
        42.307,  45.933,  45.388,  50.071,  47.851,  50.722,  56.934,
        61.237,  59.865,  58.491,  60.134,  59.212,  60.64 ,  62.702,
        56.17 ,  42.528,  37.889,  31.711,  28.838,  15.208,   9.615,
        11.103,  12.648,   1.121,   4.234,   3.625,  -2.376,  -5.447,
         4.452,   7.667,   6.543,  11.199,  16.931,  20.625,  21.501,
        23.698,  38.327,  41.837,  36.609,  41.297,  52.727,  54.3  ,
        51.581,  55.449,  51.624,  64.053,  69.985,  72.515,  60.166,
        53.757,  39.182,  35.415,  38.152,  34.626,  22.585,  14.02 ,
         6.764,  12.67 ,   7.893,   2.065,   1.877,  -2.946,  -4.152,
         6.2  ,  10.571,  11.172,   8.119,   9.359,  17.399,  25.725,
        19.062,  24.408,  28.288,  33.495,  35.303,  43.011,  51.312,
        50.675,  48.931,  54.55 ,  61.751,  68.759,  74.583,  65.903,
        59.06 ,  51.554,  47.467,  51.27 ,  43.922,  38.697,  28.495,
        21.967,  21.058,  19.814,  21.366,   9.819,   3.636,  -1.445,
         0.857,   5.715,   7.129,  10.295,   3.306,   8.292,  14.551,
        27.867,  23.462,  29.221,  31.451,  37.672,  42.185,  47.825,
        53.817,  51.235,  49.327,  53.767,  63.976,  67.371,  71.677,
        66.247,  62.449,  58.994,  57.145,  57.446,  51.724,  47.52 ,
        35.003,  27.86 ,  23.942,  20.181,  19.316,   9.433,   4.119,
         3.346,   8.681,  11.278,   9.295,   8.756,   8.272,  14.292,
        19.454,  23.876,  24.064,  21.282,  24.843,  34.334,  42.101,
        47.249,  48.127,  53.996,  57.404,  65.389,  72.067,  73.205,
        72.399,  75.585,  65.983,  63.07 ,  63.075,  62.655,  52.791,
        53.32 ,  46.465,  37.661,  37.62 ,  31.284,  25.411,  12.342,
         8.114,  12.005,  19.827,  21.825,  14.246,  13.335,  18.152,
        21.825,  24.781,  24.711,  26.167,  27.965,  32.253,  35.291,
        42.469,  40.22 ,  50.406,  53.415,  52.101,  58.917,  65.551,
        68.384,  66.002,  67.815,  65.825,  70.413,  73.332,  66.836,
        58.128,  52.196,  41.361,  41.026,  38.633,  34.141,  30.716,
        23.483,  13.902,   5.609,  11.143,  12.212,   5.104,  -3.162,
         1.947,   6.924,   9.723,   6.473,  11.241,  15.227,  23.428,
        27.654,  36.603,  41.769,  36.549,  39.179,  48.907,  56.439,
        63.333,  66.79 ,  68.948,  64.159,  67.652,  67.28 ,  71.356,
        72.225,  63.727,  58.443,  49.444,  48.666,  51.497,  45.172,
        36.838,  34.488,  26.415,  26.632,  19.153,  18.327,  10.008,
        11.12 ,  21.211,  26.954,  21.517,  20.637,  21.888,  24.487,
        32.684,  39.112,  38.7  ,  43.586,  46.319,  51.682,  59.748,
        67.345,  74.886,  75.083,  72.812,  74.947,  79.47 ,  83.153,
        88.455,  78.601,  71.692,  68.279,  69.288,  68.955,  65.818,
        59.783,  53.291,  48.216,  41.826,  42.422,  39.225,  31.808,
        25.7  ,  22.666,  22.479,  30.486,  34.585,  28.624,  23.832,
        29.272,  35.302,  39.169,  41.791,  43.97 ,  42.184,  51.287,
        58.308,  64.895,  67.734,  72.206,  72.497,  75.866,  78.224,
        81.587,  82.876,  82.125,  80.344,  78.021,  75.166,  68.294,
        65.842,  55.578,  47.291,  45.383,  46.902,  40.417,  34.571,
        23.058,  21.168,  23.216,  18.486,  21.125,  21.179,  18.83 ,
        19.956,  28.177,  32.164,  35.404,  32.637,  36.694,  35.335,
        47.413,  63.278,  65.126,  62.662,  66.721,  69.963,  75.364,
        83.605,  88.856,  87.648,  75.591,  79.244,  83.396,  82.41 ,
        79.392,  70.305,  59.157,  59.013,  63.004,  56.99 ,  49.183,
        39.398,  31.524,  33.878,  29.822,  33.825,  34.251,  33.765,
        28.41 ,  28.377,  33.571,  42.266,  43.258,  39.843,  40.691,
        49.984,  47.774,  59.384,  71.99 ,  69.026,  71.222,  77.134,
        88.087,  87.809,  91.575,  97.315,  90.066,  92.49 ,  99.108,
        96.789,  92.405,  81.278,  79.341,  78.108,  76.599,  69.691,
        59.957,  46.712])

In [62]:
mean_sea_level=pd.DataFrame({"northern_hem":northern_sea_level["msl_ib(mm)"].values,"southern_hem":southern_sea_level["msl_ib(mm)"].values} index=northern_sea_level.year)

SyntaxError: invalid syntax (<ipython-input-62-8fd30146b91b>, line 1)

In [63]:
mean_sea_level=pd.DataFrame({"northern_hem":northern_sea_level["msl_ib(mm)"].values,"southern_hem":southern_sea_level["msl_ib(mm)"].values},index=northern_sea_level.year)

In [64]:
mean_sea_level

           northern_hem  southern_hem
year
1992.9323        13.717         2.517
1992.9595         1.328        -7.645
1992.9866       -13.375        -2.267
1993.0138       -24.723         0.855
1993.0409       -29.231        -2.020
1993.0681       -32.538        -0.398
1993.0952       -35.588         4.102
1993.1223       -26.579         6.787
...                 ...           ...
2015.8182        92.405        74.234
2015.8453        81.278        72.443
2015.8725        79.341        67.228
2015.8996        78.108        74.586
2015.9268        76.599        77.518
2015.9539        69.691        77.618
2015.9811        59.957        76.646
2016.0082        46.712        77.585

[849 rows x 2 columns]

In [65]:
local_sea_level_stations.columns

Index([u'Station Name',           u'ID',         u'Lat.',         u'Lon.',
           u'GLOSS ID',      u'Country',         u'Date',    u'Coastline',
            u'Station'],
      dtype='object')

In [66]:
local_sea_level_stations=[name.strip().replace(".","") for name in local_sea_level_stations.columns]

In [67]:
local_sea_level_stations=table_list[-1]

In [68]:
local_sea_level_stations.columns=[name.strip().replace(".","") for name in local_sea_level_stations.columns]

In [69]:
local_sea_level_stations

,Station Name,ID,Lat,Lon,GLOSS ID,Country,Date,Coastline,Station
0,HELIGMAN,231,60.200,19.300,NaN,ALA,01/01/1980,60,251
1,KOBBAKLINTAR,63,60.033,19.883,NaN,ALA,01/01/1980,60,261
2,LEMSTROM,84,60.100,20.017,NaN,ALA,01/01/1980,60,271
3,FOGLO / DEGERBY,249,60.032,20.385,NaN,ALA,26/11/2014,60,281
4,PAGO PAGO,539,-14.280,-170.690,144.0,ASM,11/02/2014,745,1
5,BAHIA ESPERANZA,988,-63.300,-56.917,185.0,ATA,11/05/1999,999,1
6,ARGENTINE ISLANDS,913,-65.246,-64.257,188.0,ATA,05/02/2014,999,3
7,PUERTO SOBERANIA,1603,-62.483,-59.633,189.0,ATA,30/09/2004,999,5
...,...,...,...,...,...,...,...,...,...
1411,DANANG,1475,16.100,108.217,NaN,VNM,28/10/2002,605,51
1412,HONNGU,1003,18.800,105.767,NaN,VNM,28/10/2002,605,61
1413,HONDAU,841,20.667,106.800,NaN,VNM,19/11/2002,605,81
1414,CHARLOTTE AMALIE,1393,18.335,-64.920,NaN,VIR,12/02/2014,939,1
1415,"LIME TREE BAY, ST CROIX",1447,17.693,-64.753,NaN,VIR,12/02/2014,939,11
1416,CHRISTIANSTED HARBOUR,2118,17.750,-64.705,NaN,VIR,12/02/2014,939,15
1417,LAMESHUR BAY,2119,18.317,-64.723,NaN,VIR,12/02/2014,939,21
1418,ADEN,44,12.788,44.974,3.0,YEM,01/07/2014,485,1

In [70]:
mean_sea_level.index.name="date"

In [71]:
mean_sea_level

           northern_hem  southern_hem
date
1992.9323        13.717         2.517
1992.9595         1.328        -7.645
1992.9866       -13.375        -2.267
1993.0138       -24.723         0.855
1993.0409       -29.231        -2.020
1993.0681       -32.538        -0.398
1993.0952       -35.588         4.102
1993.1223       -26.579         6.787
...                 ...           ...
2015.8182        92.405        74.234
2015.8453        81.278        72.443
2015.8725        79.341        67.228
2015.8996        78.108        74.586
2015.9268        76.599        77.518
2015.9539        69.691        77.618
2015.9811        59.957        76.646
2016.0082        46.712        77.585

[849 rows x 2 columns]

In [72]:
mean_sea_level.index

Float64Index([1992.9323, 1992.9595, 1992.9866, 1993.0138, 1993.0409, 1993.0681,
              1993.0952, 1993.1223, 1993.1495, 1993.1766,
              ...
              2015.7639,  2015.791, 2015.8182, 2015.8453, 2015.8725, 2015.8996,
              2015.9268, 2015.9539, 2015.9811, 2016.0082],
             dtype='float64', name=u'date', length=849)

In [73]:
mean_sea_level.index.split(".")[-1]

AttributeError: 'Float64Index' object has no attribute 'split'

In [74]:
mean_sea_level.index[0]

1992.9322999999999

In [75]:
mean_sea_level.index[0].split(".")

AttributeError: 'numpy.float64' object has no attribute 'split'

In [76]:
int(mean_sea_level.index[0])

1992

In [77]:
int(mean_sea_level.index)

TypeError: int() argument must be a string or a number, not 'Float64Index'

In [78]:
[int(name) for name in mean_sea_level.index]

[1992,
 1992,
 1992,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 1999,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2001,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2002,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2003,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2005,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2006,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2007,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2009,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2016]

In [79]:
full_globe_temp==-999.00

year
1880-01-01 00:00:00    False
1881-01-01 00:00:00    False
1882-01-01 00:00:00    False
1883-01-01 00:00:00    False
1884-01-01 00:00:00    False
1885-01-01 00:00:00    False
1886-01-01 00:00:00    False
1887-01-01 00:00:00    False
                       ...
2003-01-01             False
2004-01-01             False
2005-01-01             False
2006-01-01             False
2007-01-01             False
2008-01-01             False
2009-01-01             False
2010-01-01              True
Name: mean temp, dtype: bool

In [80]:
full_globe_temp[full_globe_temp==-999.00]=np.nan

In [81]:
full_globe_temp.tail

<bound method Series.tail of year
1880-01-01 00:00:00   -0.1591
1881-01-01 00:00:00   -0.0789
1882-01-01 00:00:00   -0.1313
1883-01-01 00:00:00   -0.1675
1884-01-01 00:00:00   -0.2485
1885-01-01 00:00:00   -0.2042
1886-01-01 00:00:00   -0.1695
1887-01-01 00:00:00   -0.2505
                        ...
2003-01-01             0.5818
2004-01-01             0.5416
2005-01-01             0.6154
2006-01-01             0.5601
2007-01-01             0.5472
2008-01-01             0.4804
2009-01-01             0.5551
2010-01-01                NaN
Name: mean temp, dtype: float64>

In [ ]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from pandas import set_option
set_option("display.max_rows", 16)
LARGE_FIGSIZE=(12,8)
global_sea_level=pd.read_table("http://sealevel.colorado.edu/files/2015_rel2/sl_ns_global.txt",sep='\s+')
northern_sea_level=pd.read_table("http://sealevel.colorado.edu/files/current/sl_nh.txt",sep='\s+')
southern_sea_level=pd.read_table("http://sealevel.colorado.edu/files/current/sl_sh.txt",sep='\s+')
filename="data/temperatures/annual.land_ocean.90S.90N.df_1901-2000mean.dat"
full_globe_temp=pd.read_table(filename,sep='\s+',names=["year","mean temp"],index_col=0,parse_dates=True)
co2=pd.read_table("data/greenhouse_gaz/co2_mm_global.txt",sep='\s+',parse_dates=[[0,1]])
giss_temp=pd.read_table("data/temperatures/GLB.Ts+dSST.txt",sep="\s+",skiprows=7,skip_footer=11,engine="python")

/usr/local/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')